body {
    height: 1500px;
    background-color: #D8D8D8;

    margin:  0px;
    padding: 0px;
    overflow-y: auto;
}

nav {
    background-color: #C8C8C8;

    position: fixed;
    width: 100%;
}

.defaultNav {
    height   : 56px;
    font-size: 16px;
}

.shrinkedNav {
    height   : 42px;
    font-size: 15px;
}

.centered {
    display       : flex;
    flex-direction: row;

    align-items    : center;
    justify-content: center;
}

.serigraphed {
    color: #282828;
    font-family: Roboto;
}
